<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Article</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header><h1>Add Event</h1></header>
    <main>
        <div class="main">
        
            <form class="container" method="POST" action="/events">
                <header><h1>Event Details</h1></header>
                <div class="form-control">
                    <label for="text">Title</label> 
                    <input id="text" type="text" name="title" placeholder="Event Name" required/>
                    
                </div>
                
            <div class="form-control">
                <label for="text">Summary</label>
               <textarea name="summary" id="text" cols="30" rows="10" placeholder="Summary"></textarea>
            </div>
            <div class="form-control">
                <label for="text">Host</label>
                <input id="text" type="text" name="host" placeholder="Enter Host" required/>
            </div>
            
            <div class="form-control">
                <label for="text">Start Date</label>
                <input id="text" type="date" name="start_date" placeholder="dd/mm/yyyy" required/>
            </div>
            <div class="form-control">
                <label for="text">End Date</label>
                <input id="text" type="date" name="end_date" placeholder="dd/mm/yyyy" required/>
            </div>
            <div class="form-control">
                <label for="text">Category(Comma Separated)</label>
                <input id="text" type="text" name="even_category" placeholder="Enter Category" required/>
            </div>
            <div class="form-control">
                <label for="text">Location</label>
                <input id="text" type="text" name="location" placeholder="Enter Location" required/>
            </div>
            
            
            
            
            <div class="form-control"><button type="submit">Add Event</button></div>
            
            
            <div class="form-control"><a href="/events">Back</a></div>
          </form>
        
        </div>
    </main>
    <footer><small>&copy VEM All Rights Reserved</small></footer>
</body>
</html>